cvzone==1.6.1
fastapi==0.115.13
numpy==2.3.0
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
protobuf==6.31.1
pydantic==2.11.7
python-dotenv==1.1.0
scipy==1.15.3
sounddevice==0.5.2
torch==2.7.1
transformers==4.52.4
